<table class="publications-table">
  {% for pub in include.publications %}
    <tr class="publication-entry">
    {% if pub.thumbnail %}
        <td class="pub-thumbnail">
            {% if pub.thumbnail contains "iframe" %}
                {{ pub.thumbnail }}
            {% else %}
                <img src="../assets/thumbnails/{{pub.thumbnail}}" />
            {% endif %}
        </td>
    {% endif %}

      <td class="publication-info">
        <a class="publication-title" href="{{ pub.url }}">{{ pub.title }}</a>
        <br/>
        <span class="publication-authors">
            <em>
                  {% if pub.authors.size == 1 %}
                    <strong>{{pub.authors[0]}}</strong>
                  {% elsif pub.authors.size == 2 %}

                    {% if pub.authors[0] contains "Luca W" %}
                    <strong>{{pub.authors[0]}}</strong>
                    {% else %}
                    {{pub.authors[0]}}
                    {% endif %}
                    and
                    {% if pub.authors[1] contains "Luca W" %}
                    <strong>{{pub.authors[1]}}</strong>
                    {% else %}
                    {{pub.authors[1]}}
                    {% endif %}

                  {% else %}
                    {% for author in pub.authors %}
                        {% if author contains "Luca W" %}
                        <strong>{{author}}</strong>{% if forloop.last == false %},{% endif %}
                        {% else %}
                        {{author}}{% if forloop.last == false %},{% endif %}
                        {% endif %}
                    {% endfor %}

                  {% endif %}
            </em>
            ({{pub.year}})
         </span>

         {% if pub.venue != "arXiv" %}
         <br/>
          <span class="publication-status">
               Accepted at {{pub.venue}}
          </span>
         {% endif %}

         {% if pub.context %}
          <br/>
          <span class="publication-context">
            {{ pub.context }}
          </span>
         {% endif %}

          {% if pub.award != "" %}
          <br/>
          <span class="publication-context" style="color: palevioletred">
            {{ pub.award }}
          </span>
         {% endif %}

          {% if pub.code_url %}
          <br/>
          <span class="publication-context">
            <a href="{{pub.code_url}}">Code available</a>
          </span>
         {% endif %}
       </td>
    </tr>

    <tr>
      <td><div class="hline"> </div></td>
      <td><div class="hline"> </div></td>
    </tr>
    {% endfor %}
</table>
